body {
    background-color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #373738;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.Hayden {
    padding-right: 25px;
    font-weight: bold;
}
.logo {
    width: 10%;
    padding: 1%;
    
}

.logo img {
    height: 40px;
}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 50%;
    
}


.logo {
    text-align: center;
}

.heroImg {
    height: 700px;
    padding: 25px;
    text-align: center;
}

.content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

p {
    text-align: left;
}

footer {
    background-color: #373738;
    color: white;
    margin: 10px;
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    text-align: center;
}

.content img {
    height: 500px;
}

button {
    margin: 30px;
}

header {
    text-align: center;
}